.cio-asa-chat-message-list {
  flex: 1;
  overflow-y: auto;
  padding: 32px 12px 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 508px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  scrollbar-width: none;
}

.cio-asa-chat-message-list::-webkit-scrollbar {
  display: none;
}

.cio-asa-ai-message-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
