.cio-product-card-container {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide>div {
    height: 100%;
}
