.slick-slider {
  width: 80% !important;
  margin: 0 auto !important;
}

@media (max-width: 900px) {
  .slick-slider {
    width: 75% !important;
  }
}

@media (max-width: 700px) {
  .slick-slider {
    width: 70% !important;
  }
}

@media (max-width: 550px) {
  .slick-slider {
    width: 65% !important;
  }
}

@media (max-width: 450px) {
  .slick-slider {
    width: 90% !important;
  }

  .cio-nav-arrow {
    display: none !important; /* Hide arrows on very small screens */
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important; /* Ensure that all carousel items have the same height */
}

.slick-slide>div {
  height: 100% !important; /* Ensure that all carousel items have the same height */
}

.slick-dots li button:before {
  font-size: 20px !important; /* Change the size of the dots */
  color: #CCCCCC !important; /* Default dot color */
  opacity: 0.75 !important; /* Transparency of inactive dots */
  transition: all 0.3s ease !important; /* Smooth transition for hover/active states */
}

.slick-dots li.slick-active button:before {
  color: #12B886 !important; /* Active dot color */
  opacity: 1 !important; /* Full opacity for the active dot */
}

.slick-dots li button:hover:before {
  color: #12B886 !important; /* Hover color */
  opacity: 1 !important; /* Full opacity on hover */
}
